<div class="selec">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Pollutant</mat-label>
      <select
        matNativeControl
        required
        id="contaminante"
        required
        [(ngModel)]="select1"
        name="contaminante"
        (ngModelChange)="onSubmit()"
        #contam="ngModel"
      >
        <option
          *ngFor="let contaminante of contaminantes"
          [value]="contaminante"
          >{{contaminante | uppercase}}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <select
        matNativeControl
        required
        id="anyos"
        required
        [(ngModel)]="select2"
        name="anyos"
        (ngModelChange)="onSubmit()"
        #anyo="ngModel"
      >
        <option *ngFor="let anyo of anyos" [value]="anyo"
          >{{anyo| uppercase}}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <select
        matNativeControl
        required
        id="pais"
        required
        [(ngModel)]="select5"
        name="pais"
        (ngModelChange)="onSubmit()"
        #pais="ngModel"
      >
      <option *ngFor="let elemento of paisesOpcion" [value]="elemento.pais"
      >{{elemento.estacion}}
      </option>
      </select>
    </mat-form-field>
  </form>
</div>

<table class="table table-center">
  <tr>
    <th>Months/Days</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>6</th>
    <th>5</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>
    <th>11</th>
    <th>12</th>
    <th>13</th>
    <th>14</th>
    <th>15</th>
    <th>16</th>
    <th>17</th>
    <th>18</th>
    <th>19</th>
    <th>20</th>
    <th>21</th>
    <th>22</th>
    <th>23</th>
    <th>24</th>
    <th>25</th>
    <th>26</th>
    <th>27</th>
    <th>28</th>
    <th>29</th>
    <th>30</th>
    <th>31</th>
  </tr>
  <tr>
    <th>January</th>
    <td
      *ngFor="let i of resultado | slice:0:31"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>February</th>
    <td
      *ngFor="let i of resultado | slice:31:62"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>March</th>
    <td
      *ngFor="let i of resultado | slice:62:93"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>April</th>
    <td
      *ngFor="let i of resultado | slice:93:124"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>May</th>
    <td
      *ngFor="let i of resultado | slice:124:155"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>June</th>
    <td
      *ngFor="let i of resultado | slice:155:186"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>July</th>
    <td
      *ngFor="let i of resultado | slice:186:217"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>August</th>
    <td
      *ngFor="let i of resultado | slice:217:248"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>September</th>
    <td
      *ngFor="let i of resultado | slice:248:279"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>October</th>
    <td
      *ngFor="let i of resultado | slice:279:310"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>November</th>
    <td
      *ngFor="let i of resultado | slice:310:341"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
  <tr>
    <th>December</th>
    <td
      *ngFor="let i of resultado | slice:341:372"
      [style.background-color]="colorEU(i, select1)"
    >
      {{i}}
    </td>
  </tr>
</table>
