<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>

  <body>
    <p>
      In the
      <a class="nav-link" href="/" target="_blank">Current Data</a> section we
      can find the data collected in three different cities (each city has three
      stations). In Seville the stations used to collect data are: Los
      Principes, Bermejales and Torneo, in Sofia the stations are: Pavlovo,
      Druzhba and Hipodruma, while in Athens they are: Pireaus, LykovSrisi and
      Agia Paraskevi. The data are public and can be accessed by any person
      through this
      <a class="nav-link" href="https://aqicn.org/json-api/doc/">link</a>
    </p>
    <p>
      In the
      <a class="nav-link" href="/MapaCalor" target="_blank">Monthly Data</a>
      we can see the average value for each pollutant on each day of the month
      and country chosen (for a specific station).
      This data is stored in our own database, where we store the values of each 
      pollutant for each month and country. We store
      the values of each pollutant every time the air quality is measured at each of the 
      selected stations of Sofia, Athens and Seville.
    </p>
    <p>
      In the
      <a class="nav-link" href="/DatosMensuales" target="_blank">Annual Data</a>
      tab you can see the average of the values for each day of the pollutant,
      country (for a specific station) and year chosen. As before, this data is stored 
      in our own database.
    </p>
    <p>
      We can also see
      <a class="nav-link" href="/Grafiaca3cont" target="_blank">comparison</a>
      of the values of the different pollutants in a date range and station that we
      have chosen. These data are in the same database
      as the database as the data of the two previous sections.
    </p>
    <p>
      In the
      <a class="nav-link" href="/Grafiacapm10" target="_blank"
        >PM10 Evolution</a
      >
      section it shows the PM10 values in a range of dates and countries that we have
      selected. These data are obtained through devices that are located in 
      the secondary schols of each city. 
      These devices have been built by us. They measure the value of the PM10 that is stored in our databases.
      Below we show the devices:
    </p>
    <p>
      More info about
      <a
        class="nav-link"
        href="https://twinspace.etwinning.net/94367/pages/page/691104"
        target="_blank"
        >Erasmus+ Project: 2019-1-ES01-KA202-063878.</a
      >
    </p>
    <table>
      <tr>
        <td>
          <table class="thu">
            <tr>
              <td>
                <a
                  href="https://prezi.com/ss800u91nh1d/air-quality-mesurment-device/?utm_campaign=share&utm_medium=copy"
                  target="_blank"
                >
                  <img
                    src="./assets/img/funcionamientoGreece2.png"
                    width="400px" height="256px"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                Device of Greek.
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="thu">
            <tr>
              <td>
                <a
                  href="https://twinspace.etwinning.net/files/collabspace/7/67/367/94367/files/b770f5a0c.pdf"
                  target="_blank"
                >
                  <img
                    src="./assets/img/funcionamientoSpain2.png"
                    width="400px" height="256px"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                Device of Spain and Bulgaria.
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th colspan="2" style="text-align: center;">
          Page created by:
          <a
            href="https://www.linkedin.com/in/ignacio-rodriguez-mesa"
            target="_blank"
          >
            Ignacio Rodríguez Mesa
          </a>
          y
          <a
            href="https://www.linkedin.com/in/daniel-munoz-rodriguez"
            target="_blank"
          >
            Daniel Muñoz Rodríguez </a
          ><br />
          2nd year ASIR students
          <a href="https://www.iespuntadelverde.es/" target="_blank">
            IES Punta del Verde
          </a>
          (2020/21 academic year) <br /><br />
        </th>
      </tr>
    </table>

    <table>
      <tr>
        <td> 
          <img alt title src="./assets/img/ErasmusDerecha2.jpg" width="500px" height="103px"/>
        </td>
        <td> 
          <img alt title src="./assets/img/Proyecto.jpg" width="97px" height="103px"/>
        </td>
        <td>
          <img alt title src="./assets/img/puntadelverde.jpg" width="213px" height="103px"/>
        </td>
      </tr>
    </table>
  </body>
</html>
